.user-data{
    position: absolute;
    top: 130px;
    border: 1px solid white;
    width: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.hide{
        display: none;
    }
}