.movie-queue{
    position: relative;
    top: 300px;
    height: 300px;
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    .movie-queue-list{
        height: 250px;
        overflow-y: auto;
    }
}

.movie-to-play:hover{
    color: red;
}